DATABASE_URL=postgresql://postgres.uhaoixnrpcxrunmbpyiw:lYTDZW6c9VYMHbII@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=planly
RABBITMQ_DEFAULT_PASS=planly

# JWT (compartilhado entre os serviços)
JWT_SECRET=planly-dev-secret-change-in-prod
